{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="toolbar">
            <div class="brandSection">
                <div class="brandAvatar"></div>
                <span class="logo">Talent AI</span>
            </div>
      
            <!-- User Section -->
            <div class="userSection" id="userSection">
                <span id="userName">{{ user }}</span>
                <button class="userAvatarBtn" id="menuToggle">
                    <div class="userAvatar" style="background-image: url('{% static 'images/profile.png' %}');"></div>
                </button>
                <div class="menu_header" id="userMenu">
                    <div class="menuItem_header">
                        <strong id="menuUserName">{{ user }}</strong>
                        <br>
                        <span id="menuUserEmail">{{ user.email }}</span>
                    </div>
                    <hr id="menuItem_hr">
                    <div class="menuItem_h changeItem">
                        <a href="{% url 'password_change' %}" class="changeButton">
                            <img src="{% static 'images/change-password.png' %}" alt="Change password" class="menuIcon">
                            <span>Change password</span>
                        </a>
                    </div>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <div class="menuItem_h logoutItem">
                            <button type="submit" class="logoutButton">
                                <img src="{% static 'images/logout.png' %}" alt="Logout" class="menuIcon">
                                <span>Logout</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </header>
    
    <div class="wrapper">
    <aside class="aside">
        <nav>
            <ul class="menu">
                <a href="{% url 'dashboard' %}" class="sidebar_a">
                    <li class="menuItemlink {% if active_page == 'dashboard' %}activeLink{% endif %}" >
                        <img src="{% static 'images/dashboard.png' %}" class="menuIcon" alt="Dashboard Icon">
                        <span>Dashboard</span>
                    </li>
                </a>
                <a href="{% url 'jobs:jobs_list' %}" class="sidebar_a">
                    <li class="menuItemlink {% if active_page == 'jobs' %}activeLink{% endif %}" >
                        <img src="{% static 'images/jobs.png' %}" class="menuIcon" alt="Jobs Icon">
                        <span>Jobs</span>
                    </li>
                </a>
                <a href="#" class="sidebar_a">
                    <li class="menuItemlink {% if active_page == 'reports' %}activeLink{% endif %}">
                        <img src="{% static 'images/report.png' %}" class="menuIcon" alt="Reports Icon">
                        <span>Reports</span>
                    </li>
                </a>
            </ul>
        </nav>
    </aside>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
        
    </div>
</body>
</html>
