{% extends "base.html" %}
{% block title %}Job-posts{% endblock %}
{% block content %}
<a href="{% url 'jobs:jobs_list' %}">Back to Jobs List</a>
<h1>{{ job.job_title }}</h1>
<a href="{% url 'upload_resumes' job_id=job.id %}?next=job-posts" class="btn btn-link">Upload CV</a>

<h1>Candidates List</h1>
{% if candidates %}
  <ul>
    {% for candidate in candidates %}
      <li class="candidate-item">
        <h3><a href="{% url 'candidates:candidate_profile' candidate_id=candidate.id %}">{{candidate.name}}</a></h3>
        <div class="candidate-actions">
          <a href="{% url 'candidates:delete_resume' candidate.resume.id %}" 
             onclick="return confirm('Are you sure you want to delete this resume?');" 
             class="btn btn-link">Delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No candidates found</p>
{% endif %}
{% endblock %}