{% extends "base.html" %}
{% load static %}
{% block title %}Candidate-Profile{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}
{% block content %}
<div class="container">
    <!-- Top Actions -->
    <div class="topActions">
        <a href="{% url 'candidates:job_posts' job_id=job.id %}" class="backLink">← Back to Candidates</a>
        {% if ext == 'pdf' %}
        <button class="resumeBtn"><a href = "{{ candidate.resume.resume_file.url }}" target = "_blank" style="text-decoration: none;color: white;"> Candidate's Resume</a></button>
        {% else %}
        <button class="resumeBtn"><a href = "{% url 'candidates:view_resume' candidate.id %}" target = "_blank" style="text-decoration: none;color: white;"> Candidate's Resume</a></button>
        {% endif %}
    </div>

    <!-- Candidate Header -->
    <div class="candidateHeader">
        <h2 class="candidateName">{{ candidate.name }}</h2>
    </div>

    <!-- Candidate Role -->
    <div class="infoSection">
        <h3>Candidate Role</h3>
        <div class="infoBox">
            <p>{{job.job_title}}</p>
        </div>
    </div>

    <!-- Parsed Resume -->
    <div class="infoSection">
        <h3>Parsed Resume</h3>
        <div class="largeBox">
            <p>
            {% for key, value in existed_sections.items %}
                
                <h3> {{key | title}} </h3>
                <hr>
    
                {{value | safe}}
                <br>
                <br>
                {% endfor %}
                
            </p>
        </div>
    </div>

    <!-- AI Generated Comment -->
    <div class="infoSection">
        <h3>AI Generated Comment</h3>
        <div class="largeBox">
            <p>{{candidate.ai_comment}}</p>
        </div>
    </div>

    <!-- Interview Questions -->
    <div class="infoSection">
        <h3>Generated Interview Questions</h3>
        <div class="largeBox">
            <p>{{candidate.interview_questions}}</p>
        </div>
    </div>

    <!-- Approve Button 
    <div class="approveSection">
        <button class="approveBtn">Approve</button>
    </div>
    -->
</div>

{% endblock %}