{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script defer src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% block content %}

<div class="container">
    <!-- Stats Section -->
    <div class="statsSection">
        <div class="statCard">
            <h3 class="cardTitle">Active Jobs</h3>
            <p class="cardNumber">{{ active_jobs }}</p>
        </div>
        <div class="statCard">
            <h3 class="cardTitle">Total Candidates</h3>
            <p class="cardNumber">{{total_candidates}}</p>
        </div>
    </div>

    <!-- Actions Section -->
    <div class="actions">
        <button class="primaryButton" id="postJobBtn"><a href="{% url 'post_job' %}" class="postjob_a">Post New Job</a></button>
    </div>

    <!-- Lists Section -->
    <div class="listsSection">
        <div class="listCard">
            <h3 class="listTitle">Recent Jobs</h3>
            {% for job, resumes in recent_jobs %}
                <div class="listItem">
                    <p class="jobTitle"><a href="{% url 'candidates:job_posts' job_id=job.id %}" style="text-decoration: none; color:#555 ;">{{ job.job_title }}</a></p>
                    <p class="jobDetails">{{ resumes }} candidate{{ resumes|pluralize }}
                      | Posted {{ job.posted_at|timesince  }} ago</p>
                </div>
            {% empty %}
            <h3 class="listTitle">No recent jobs found.</h3>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}
